// /*! CSS Used from: https://www.airalo.com/fonts/airalo-icomoon/airalo-icomoon.css?v1.39.0 */

// .airalo-icon-arrow-down:before {
//   content: "\e914";
// }
// .airalo-icon-globe:before {
//   content: "\e915";
// }
// .airalo-icon-profile:before {
//   content: "\e927";
// }
// .airalo-icon-store:before {
//   content: "\e90a";
// }
// /*! CSS Used from: https://www.airalo.com/_nuxt/css/348c5e6.css */
// *,
// :after,
// :before {
//   box-sizing: border-box;
// }
// header,
// nav {
//   display: block;
// }
// ul {
//   margin-bottom: 1rem;
// }
// ul {
//   margin-top: 0;
// }
// ul ul {
//   margin-bottom: 0;
// }
// a {
//   background-color: transparent;
//   color: #007bff;
//   -webkit-text-decoration: none;
//   text-decoration: none;
// }
// a:hover {
//   color: #0056b3;
//   -webkit-text-decoration: underline;
//   text-decoration: underline;
// }
// img {
//   border-style: none;
// }
// img {
//   vertical-align: middle;
// }
// .d-none {
//   display: none !important;
// }
// .d-flex {
//   display: flex !important;
// }
// .d-inline-flex {
//   display: inline-flex !important;
// }
// @media (min-width: 576px) {
//   .d-sm-block {
//     display: block !important;
//   }
// }
// .flex-wrap {
//   flex-wrap: wrap !important;
// }
// .justify-content-start {
//   justify-content: flex-start !important;
// }
// .justify-content-end {
//   justify-content: flex-end !important;
// }
// .justify-content-center {
//   justify-content: center !important;
// }
// .align-items-center {
//   align-items: center !important;
// }
// @media (min-width: 768px) {
//   .align-items-md-start {
//     align-items: flex-start !important;
//   }
// }
.w-auto {
  width: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
// @media print {
//   *,
//   :after,
//   :before {
//     box-shadow: none !important;
//     text-shadow: none !important;
//   }
//   a:not(.btn) {
//     -webkit-text-decoration: underline;
//     text-decoration: underline;
//   }
//   img {
//     page-break-inside: avoid;
//   }
// }
/*! CSS Used from: https://www.airalo.com/_nuxt/css/10b06b5.css */
// * {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   text-rendering: optimizeLegibility;
// }
.cf:after,
.cf:before {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.ml-5px {
  margin-left: 5px;
}
.mr-5px {
  margin-right: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
@media only screen and (max-width: 991px) {
  .mr-md-5px {
    margin-right: 5px;
  }
}
// a {
//   color: #4a4a4a;
//   -webkit-text-decoration: none;
//   text-decoration: none;
// }
// ::selection {
//   background: #fff0bc;
//   color: #b39669;
// }
// ul {
//   list-style-type: none;
//   margin-bottom: 0 !important;
// }
// :focus {
//   outline: none !important;
// }
// .d-none {
//   display: none;
// }
// .d-flex {
//   display: flex;
// }
@media (min-width: 576px) {
  .d-sm-block {
    display: block;
  }
}
.mr-5px {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.ml-5px {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
@media screen and (min-width: 768px) {
  .mr-md-5px {
    margin-right: 5px !important;
  }
}
.display-inline-flex {
  display: inline-flex;
}
.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}
@media screen and (min-width: 768px) {
  .w-md-auto {
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  header {
    width: 100% !important;
  }
  header {
    height: auto !important;
  }
  .header-content {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header-content,
  header {
    width: 100% !important;
  }
}
.airalo-icon-wrapper {
  display: inline-flex;
}
@media only screen and (min-width: 768px) {
  .w-md-auto {
    width: auto !important;
  }
}

.tw-border-0 {
  border-width: 0;
}
.tw-border-solid {
  border-style: solid;
}
.tw-border-zinc-300 {
  --tw-border-opacity: 1;
  border-color: #ddd;
  border-color: rgba(221, 221, 221, var(--tw-border-opacity));
}
.tw-py-2\.5 {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}
.tw-text-2 {
  font-size: 0.5rem;
  line-height: 1.2;
}
.tw-text-4 {
  font-size: 1rem;
  line-height: 1.2;
}
.\!tw-text-primary {
  --tw-text-opacity: 1 !important;
  color: #4a4a4a !important;
  color: rgba(74, 74, 74, var(--tw-text-opacity)) !important;
}
.tw-text-zinc-500 {
  --tw-text-opacity: 1;
  color: #8a8a8a;
  color: rgba(138, 138, 138, var(--tw-text-opacity));
}
.\!tw-no-underline {
  text-decoration-line: none !important;
}
[dir="ltr"] .ltr\:tw-ml-5 {
  margin-left: 1.25rem;
}
[dir="ltr"] .ltr\:tw-mr-2\.5 {
  margin-right: 0.625rem;
}
[dir="ltr"] .ltr\:tw-border-l {
  border-left-width: 1px;
}
[dir="ltr"] .ltr\:tw-pl-5 {
  padding-left: 1.25rem;
}
@media (min-width: 992px) {
  .lg\:tw-block {
    display: block;
  }
}
.header-item-block{
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.header-item-block a{
  -webkit-text-decoration: none;
  text-decoration: none;
}
.sub-menu{
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 255px;
  // padding: 0 0 0 20px;
}
.sub-menu.size-small li a{
  font-size: 0.8125rem;
  line-height: 1;
  // padding: 15px 0;
}
.sub-menu li{
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  padding-right: 20px;
}
.sub-menu li:last-child {
  border-bottom-color: transparent;
}
.sub-menu li a{
  color: #4a4a4a;
  cursor: pointer;
  letter-spacing: 0;
  text-align: left;
  -webkit-text-decoration: none;
  text-decoration: none;
  width: 100%;
}
.header {
  background: #fff;
  padding: 0 30px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .header {
    background: #fff;
    // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05),
    //   0 10px 30px 0 rgba(0, 0, 0, 0.1);
    padding: 0 20px;
  }
}
.header-content {
  height: 100%;
  margin: 0 auto;
  max-width: 1120px;
  padding: 40px 0;
}
@media only screen and (max-width: 1023px) {
  .header-content {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 767px) {
  .header-navigation {
    display: none;
  }
}
.header-navigation nav ul li {
  align-items: center;
  border-right: 1px solid #ddd;
  display: flex;
  padding: 15px 20px;
}

.header-navigation nav ul li:last-child {
  border-right: none;
  padding-right: 0;
}
.nav-item-with-sub-menu {
  position: relative;
}
.nav-item-with-sub-menu .arrow-icon {
  color: #4a4a4a;
  display: inline-flex;
  margin-top: 1px;
}
.nav-item-with-sub-menu .arrow-icon .airalo-icon-wrapper {
  display: inline-flex;
  position: relative;
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}
.nav-item-with-sub-menu .header-sub-menu-wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}
.nav-item-with-sub-menu:hover
  .arrow-icon
  .airalo-icon-wrapper {
  display: inline-flex;
  transform: rotate(-180deg);
}
.nav-item-with-sub-menu:hover .header-sub-menu-wrapper {
  animation: sub-menu-show-12ee4f93 0.25s linear;
  height: auto;
  opacity: 1;
  overflow: visible;
  overflow: initial;
  padding-top: 10px;
  transform: translateY(0);
}
/*! CSS Used from: https://www.airalo.com/_nuxt/css/a1cda3e.css */
.header-item {
  align-items: center;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.9375rem;
  font-weight: 400;
  justify-content: flex-start;
  letter-spacing: 0;
  line-height: 1.4;
  white-space: nowrap;
}
/*! CSS Used keyframes */
@keyframes sub-menu-show-12ee4f93 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  1% {
    height: auto;
    overflow: visible;
    overflow: initial;
    padding-top: 10px;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-family: "airalo-icomoon";
  src: url("https://www.airalo.com/fonts/airalo-icomoon/airalo-icomoon.ttf?7a2n3x&v1.36.1")
      format("truetype"),
    url("https://www.airalo.com/fonts/airalo-icomoon/airalo-icomoon.woff?7a2n3x&v1.36.1")
      format("woff"),
    url("https://www.airalo.com/fonts/airalo-icomoon/airalo-icomoon.svg?7a2n3x&v1.36.1#airalo-icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
